body {
	margin: 0;
	padding: 0;
	background: #000;
  }
  
  p {
	font-size: 8px;
	line-height: 8px;
	text-align: justify;
	background: url(image.jpg) no-repeat center/cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(225, 225, 255, 0); /* Note: Adjust the alpha value for transparency */
	margin: 0; /* To remove default margin */
	padding: 20px; /* Add padding to your preference */
  }
